* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
	font-size: 105%;
}

@font-face {
    font-family: Raleway;
    src: url(Raleway-VariableFont_wght.ttf);
}

#img-div, #title{
    text-align: center;
}


#img-div, #image-caption{
    background-color: white;
    width:75%;
    margin-left: auto;
    margin-right: auto;
}


li{
    list-style-type: none;
}


#title{
    font-size: 3rem;
    padding: 20px;
}

#image{
    padding: 30px 0 10px 0;
    background-color: white;
}
#image-caption{
   padding-bottom: 15px;
}

h3, p {
    padding-bottom: 10px;
}
.sections{
    width: 75%;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 30px;
}




* {
    background-color: rgb(238, 238, 238);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#end-link{
    font-size: 1rem;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

a{
    text-decoration: none;
    color: black;
    border-bottom: 2px solid #FFCC02;
}

a:hover{
    color: #FFCC02;
}